h1 {
    color: blue;
    font-size: 36px;
    font-weight: bold;
}

h2 {
    text-decoration: line-through;
    margin-bottom: 20px;
}

div {
    width: 500px;
    padding: 10px;
    background-color: gray;
    margin-bottom: 10px;
}

.f-div {
    border: 2px solid black;
}

b {
    color: orange;
}

i {
    text-decoration: underline;
}

.third {
    font-weight: bold;
}

.second {
    color: orange;
}
